@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap');

a {text-decoration: none;}

body {
    font-size: 0.75em;
	font: '맑은 고딕', 'Malgun Gothic','Noto Sans', sans-serif;
}

*{box-sizing: border-box;}

.wrap {
    width: 20%;
    margin: 5% auto;
}

.title {
    width: 100%;
    text-align: center;
    margin: 3% 0;
}

#htit {
    font-size: 3.5em;
    margin: 20px;
}

#stit {
    font-size: 1.2em;
    color: #696060;
    margin-bottom: 10px;
}

.info {
    width: 100%;
    line-height: 30px;
    padding: 10px;
    margin-bottom: 10px;
    outline: none;
}

.wrap span {
    font-size: 0.9em;
    color: #696060;
}

#butt {
    width: 100%;
    border: none;
    background: #810101;
    font-size: 2em;
    color: #fff;
    outline: none;
    padding: 10px;
    margin: 10px 0;
    cursor: pointer;
}

.join {
    width: 100%;
    margin: 10px 0;
    overflow: hidden;
}

.join li {
    width: 33.333%;
    text-align: center;
    float: left;
}

.join li a {
    color: #666;
}

.join li a:hover {
    text-decoration: underline;
    font-weight: bold;
}