@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap');
			
* {padding: 0; margin: 0;}

*{box-sizing:border-box;}

a {text-decoration: none;}

ul li {list-style: none;}

ul li a {
	color: #fff;
}

/*맑은고딕*/
body {
	font-size: 0.75em;
	font: '맑은 고딕', 'Malgun Gothic','Noto Sans', sans-serif;
}

/*--------------실시간------------*/

.news {
	width: 15%;
	margin: 40px 0 0 200px;
	position: fixed;
	z-index: 8888;
	top: 0;
}

.news .open-event {
	width: 210px;
	height: 25px;
	border: 1px solid #999;
	position: relative;
	z-index: 9999;
	overflow: hidden;
}

.news .open-event ul {
	width: 100%;
	position: absolute;
	top: 0px;
}

.news .open-event ul li {
	padding-left: 8px;
	height: 25px;
} 

.news .open-event ul li a {
	display: inline-block;
	width: 250px;
	font-size: 0.8em;
	line-height: 21px;
	color: #fff;
} 

.news ul li.hid {
	padding-left: 10px;
	height: 25px;
	position: relative;
}

.news ul li.hid a {
	display: inline-block;
	width: 250px;
	font-size: 0.8em;
	line-height: 21px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

	/*white-space:no-wrap; text-overflow:ellipsis;*/
	/*텍스트 넘치기 ...추가 
		잘라내기 두짝 맞춤*/
	/*한줄일때만 가능*/
		
.news .open-event ul li a:hover {
	text-decoration: underline;
}

/*.news .open-event ul li a strong
{margin-right: 10px;}*/

.news .open-event ul li span.date {
	display: inline-block;
	font-size: 0.8em;
	line-height: 21px;
	width: 80px;
	padding-left: 5px;
}

.news .open-event ul li.hid span.date {
	display: inline-block;
	position: absolute;
	left: 260px;
	top: 0;
	font-size: 0.8em;
	line-height: 21px;
	width: 80px;
	padding-left: 5px;
}

/*---------------------메뉴바---------------------*/

header {
	width: 100%;
	color: #fff;
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
}

#menu {
	width: 100%;
	height: 100px;
	font-size: 1.3em;
	background: rgba(0,0,0,.7);
	position: relative;
}

input#txt {
	width: 150px;
	height: 30px;
	color: #fff;
	border: none;
	border-bottom: 1px solid rgba(255,255,255,.5);
	background: none;
	padding: 3px;
	outline: none;
}

.nav_total {
	width: 50%;
	overflow: hidden;
	margin: 0 auto;
	box-sizing:border-box;
}

.nav_total>li {
	width: 16.666%;
	line-height: 100px;
	text-align: center;
	float: left;
}

.nav_total>li.logo img {
	width: 80%;
	margin-top: 20px;
}

.nav_total>li>a {
	display: block;
	line-height: 100px;
	text-align: center;
	color: #fff;
}

#h_01 {
	position: absolute;
	top: 20%;
	right: 23%;
	margin-top: 21px;
}

#h_02 {
	width: 22px;
	height: 21px;
	position: absolute;
	top: 20%;
	right: 20%;
	margin-top: 21px;
}

#h_02 img {
	width: 100%;
}

/*------------메뉴 밑줄--------------*/

.snip1322 {
  text-transform: uppercase;
}
.snip1322 * {
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

.snip1322>a {
  position: relative;
  text-decoration: none;
}

.snip1322>a:before{
  width: 0;
  height: 2px;
  position: absolute;
  content: '';
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  background-color: #810101;
}

.snip1322>a:before{
   bottom: 25px;
   left:25%;
}

.snip1322>a:after {
   top:0;
   right:25%;
}

.snip1322>a:hover,
.snip1322 .current a {
  color: #ffffff;
}

.snip1322>a:hover:before,
.snip1322 .current a:before,
.snip1322>a:hover:after,
.snip1322 .current a:after {
  width:50%;
}

/*----------------소메뉴----------*/

ul.sub_bg {
	width: 100%;
	border-top: 1px solid #666;
	background: rgba(0,0,0,.7);
	text-align: left;
	position: absolute;
	top: 100px;
	left: 0;
	padding: 20px 0;
	display: none;
}

ul.sub {
	width: 100%;
	margin: 0 5%;
}

ul.sub>li>ul>li>a {
	color: #9e9e9f;
}

ul.sub>li {
	width: 50%;
	margin: 0 auto;
}

ul.sub>li>ul {
	width : 100%;
	font-size: 0.9em;
}

/*---------타이어-------------*/

ul.sub_1>li {
	width: 40%;
	overflow: hidden;
}

ul.sub_1>li>ul:first-child {
	width: 30%;
	float: left;
}

ul.sub_1>li>ul:first-child li {
	line-height: 2;
}

ul.sub_1>li>ul:first-child>li.sub_p {
	width: 100%;
	text-align: center;
	font-size: 1em;
	font-weight: bold;
	color: #fff;
}

ul.sub_1>li>ul:last-child {
	width: 65%;
	margin-left: 5%;
	float: left;
	overflow: hidden;
}

li.sub_p2 {
	width: 100%;
	text-align: center;
	font-size: 1em;
	font-weight: bold;
	color: #fff;
	line-height: 2;
}

ul:last-child li.sub_p3 {
	width: 48.5%;
	padding-top: 5%;
	margin-right: 3%;
	float: left;
}

ul:last-child>li.sub_p3:last-child {
	margin-right: 0;
}

li.sub_p3 img {
	width: 100%;
	vertical-align: bottom;
}

/*----------------서비스-------------------*/

ul.sub_2>li {
	width: 40%;
	overflow: hidden;
}

ul.sub_2>li>ul:first-child {
	width: 30%;
	float: left;
}

ul.sub_2>li>ul:first-child>li {
	line-height: 2;
}

ul.sub_2>li>ul:first-child>li.sub_p {
	width: 100%;
	text-align: center;
	font-size: 1em;
	font-weight: bold;
	color: #fff;
}

ul.sub_2>li>ul:last-child {
	width: 65%;
	margin-left: 5%;
	float: left;
	overflow: hidden;
}

ul.sub_2>li>ul:last-child li a {
	display: block;
	text-align: center;
}

ul.sub_2>li>ul:last-child li a img {
	width: 30%;
}

ul.sub_2>li>ul:last-child>li.sub_p3:hover {
	background: rgba(129,1,1,.7);
}

/*-----------------기업정보--------------------*/

ul.sub_3>li {
	width: 40%;
	margin: 0 auto;
}

ul.sub_3>li>ul {
	width: 30%;
	float: left;
}

ul.sub_3>li>ul:first-child {
	width: 30%;
	float: left;
}

ul.sub_3>li>ul:first-child li {
	line-height: 2;
}

ul.sub_3>li>ul:first-child>li.sub_p {
	width: 100%;
	text-align: center;
	font-size: 1em;
	font-weight: bold;
	color: #fff;
}

ul.sub_3>li>ul:last-child {
	width: 65%;
	margin-left: 5%;
	float: left;
	overflow: hidden;
}

.sub_3>li>ul:last-child li.sub_p3 {
	width: 48.5%;
	padding-top: 5%;
	margin-right: 3%;
	float: left;
}

.sub_3>li>ul:last-child li.sub_p3:last-child {
	margin-right: 0;
}

.sub_3>li>ul:last-child li.sub_p3 img {
	width: 100%;
	height: 150px;
}

/*-------------이벤트-----------*/

ul.sub_4>li {
	width: 40%;
	overflow: hidden;
}

ul.sub_4>li>ul:first-child {
	width: 30%;
	float: left;
}

ul.sub_4>li>ul:first-child li{
	line-height: 2;
}

ul.sub_4>li>ul:last-child {
	width: 60%;
	margin-left: 10%;
	float: left;
	overflow: hidden;
}

ul.sub_4>li>ul:first-child>li.sub_p {
	width: 100%;
	text-align: center;
	font-size: 1em;
	font-weight: bold;
	color: #fff;
}

ul.sub_4>li>ul:last-child {
	width: 60%;
	margin-left: 10%;
	float: left;
	overflow: hidden;
}

.sub_4>li>ul:last-child li.sub_p3 {
	width: 48.5%;
	padding-top: 5%;
	margin-right: 3%;
	float: left;
}

.sub_4>li>ul:last-child li.sub_p3:last-child {
	margin-right: 0;
}

ul.sub_4>li>ul:last-child img {
	width: 100%;
	height: 150px;
}

/*-------------모터스포츠----------*/

ul.sub_5>li {
	width: 40%;
	overflow: hidden;
}

ul.sub_5>li>ul:first-child {
	width: 30%;
	float: left;
}

ul.sub_5>li>ul:first-child li {
	line-height: 2;
}

ul.sub_5>li>ul:first-child>li.sub_p {
	width: 100%;
	text-align: center;
	font-size: 1em;
	font-weight: bold;
	color: #fff;
}

ul.sub_5>li>ul:last-child {
	width: 60%;
	margin-left: 10%;
	float: left;
	overflow: hidden;
}

.sub_5>li>ul:last-child li.sub_p3 {
	width: 100%;
	padding-top: 5%;
	margin-right: 3%;
	float: left;
}

ul.sub_5>li>ul:last-child img {
	width: 100%;
	height: 130px;
}

ul.nav_total>li:hover>ul.sub_bg>li>ul.sub {
	display: block;
}

ul.sub>li>ul>li>a:hover {
	color: #fff;
}

ul.sub1>li>ul>li {
	font-size: 1.2em;
}

ul.sub1>li>ul>li>a:hover {
	color: red;
}

.nav_total > li:hover  .sub_bg {display:block; }/*오버했을때 하단메뉴백그라운드나와*/

.nav_total > li:hover .sub {display:block; }
/*오버했을때 각하단메뉴나와*/

/*--------------전체메뉴--------*/

#sublist {
	display: none;
}

ul.sub1 {
	width: 100%;
	border-top: 1px solid #666;
	background: rgba(0,0,0,.7);
	position: absolute;
	top: 100px;
	left: 0;
}

ul.sub1 li {
	width: 45%;
	margin: 0 auto;
	padding-left: 60px;
}

ul.sub1 li ul {
	width: 20%;
	padding: 30px 0;
	float: left;
}

ul.sub1 li ul li {
	width: 100%;
	margin-bottom: 10px;
}

/*model시작-------------------------------*/

.loginwrap {
	background: transparent;
	z-index: 100;
}

.model {
	position: absolute;
	width: 0;
	height: 0;
	overflow: hidden;
	z-index: 100;
	margin: 0 auto;
}

.model:target {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: rgba(0,0,0,0.8);
	z-index: 9999;
}

.model:target .content {
	background: #fff;
	border-radius: 8px;
	box-shadow: 0 0 0 8px rgba(0,0,0,0.25);
	width: 600px; /*모달 사이즈*/
	height: 400px;
	padding: 30px;
	position: absolute;
	
	top: calc(50% - 200px);
	/*사이 공간 뛰우세요 반사이즈뺌*/
	left: calc(50% - 300px);
	/*반사이즈 뺌*/
	z-index: 999;
}

.model:target .content fieldset {
	width: 100%;
	margin-top: 50px;
}

.model:target .content fieldset ul {
	width: 80%;
	font-size: 1.5em;
	margin: 0 auto;
}

.model:target .content fieldset ul li {
	width: 100%;
	line-height: 50px;
}

.tit {
	margin-right: 38px;
}

.tit_2 {
	margin-right: 20px;
}

fieldset ul li input {
	width: 250px;
	height: 40px;
	padding: 5px;
	outline: none;
}

.lo_butt {
	width: 50%;
	margin: 0 auto;
}

.lo_butt #butt {
	width: 100%;
	height: 50px;
	font-size: 2em;
	color: #fff;
	background: #810101;
	margin-top: 8%;
	outline: none;
	border: none;
	cursor: pointer;
}

div.join {
	width: 50%;
	margin: 2% auto;
}

div.join a {
	width: 31.333%;
	height: 42px;
	font-size: 1.1em;
	line-height: 40px;
	text-align: center;
	color: #666;
	display: block;
	margin-right: 2%;
	float: left;
}

div.join a:last-child {
	margin-right: 0;
}

div.join a:hover {
	font-weight: bold;
	text-decoration: underline;
}

.model:target .close {
	position: absolute;
	right: -16px;
	top: -16px;
}

.model:target .close a {
	width: 32px;
	height: 32px;
	display: block;
	background: #810101;
	border: 2px solid #fff;
	border-radius: 50%;
	text-indent: -9999em;
}

/*close 버튼*/

.model:target .close:after {
	content: 'X';
	position: absolute;
	top:  0;
	left: 0.5px;
	width: 32px;
	height: 32px;
	text-align: center;
	line-height: 33px;
	color: #fff;
	font-weight: 800;
	pointer-events: none;
	/*중요 close 버튼 연동*/
}

.model:target .content h2 {
	color: #810101;
	font-weight: bold;
	font-size: 50px;
	text-align: center;
}

/*--------------탑버튼---------------------*/

.top {
	position: fixed;
	bottom: 20px;
	right: 30px;
	z-index: 9999;
}

.top img {
	width: 40%;
}

/*---------------구매------------------*/

div.box {
	width: 60%;
	margin: 10% auto;
	overflow: hidden;
}

div.pic {
	width: 40%;
	margin: 15% auto;
	margin-right: 10%;
	float: left;
}

div.pic img {
	width: 100%;
}

div.title {
	text-align: center;
}

div.box h1 {
	font-size: 5em;
}

div.box h2 {
	font-size: 3em;
	color: #5d5656;
}

table.purchase {
	width: 50%;
	line-height: 2;
	font-size: 1.2em;
	border-collapse:collapse;
	padding: 1%;
}

td.pcs_t {
	font-size: 1.5em;
	font-weight: bold;
}

td.pcs {
	font-size: 1.1em;
	font-weight: bold;
}

.psc_h {
	border-bottom: 2px solid #666;
}

td select {
	width: 50%;
	height: 30px;
	outline: none;
}

caption {
	font-size: 1em;
}

tr.butt {
	width: 100%;
	font-size: 1.2em;
}

td.butt_1 a {
	display: block;
	width: 100%;
	text-align: center;
	background: #810101;
	color: #fff;
	padding: 10px;
	margin: 50px auto;
}

td.butt_2 a {
	display: block;
	width: 100%;
	text-align: center;
	border: 1px solid #810101;
	color: #000;
	padding: 10px;
	margin: 50px auto;
}

/*-----------------탭--------------*/

div.container {
	width: 60%;
	margin: 0 auto;
}

ul.tab_container {
	width: 90%;
	font-size: 1.5em;
	margin: 1% auto;
	text-align: center;
	overflow: hidden;
}

ul.tab_container li {
	width: 25%;
	border: 1px solid #810101;
	background: #810101;
	font-weight: 600;
	color: #fff;
	padding: 10px;
	cursor: pointer;
	float: left;
	position: relative;
}

ul.tab_container li:first-child , ul.tab_container li:nth-child(2), ul.tab_container li:nth-child(3) {
	border-right: none;
}

ul.tab_container li.active {
	color: #000;
	background: #fff;
	border-bottom: none;
}

hr.stroke2 {
	width: 100%;
	margin: 0 auto;
	height: 1px;
	background: #626365;
}

/*-----------상품정보-------------*/

.tab_contant {
	width: 100%;
	margin: 0 auto;
}

#tab1 {
	width: 80%;
	margin-top: 10%;
	margin-bottom: 20%;
	text-align: center;
}

#tab1 img {
	width: 100%;
}

/*------------표------------*/

table, tr, td {
	font-size: 1.05em;
	border-collapse:collapse;
	padding: 1%;
}

table {
	width: 100%;
	margin: 5% auto;
	text-align: left;
}

td.tt {
	width: 20%;
	font-weight: bold;
	text-align: center;
	background: #f4f4f4;
}

/*--------------리뷰----------------*/

#tab2 {
	width: 80%;
	margin-top: 10%;
	margin-bottom: 20%;
}

div.review_1 {
	width: 100%;
	margin: 0 auto;
	overflow:hidden;
}

p.re_1 {
	width: 90%;
	font-size: 1.5em;
	float: left;
}

p.re_2 {
	width: 10%;
	font-weight: bold;
	border: 1px solid #000;
	box-sizing:border-box;
	margin-top: 2%;
	padding: 5px;
	float: left;
}

p.re_2 a {
	color: #000;
}

hr.stroke3 {
	width: 100%;
	border: 0;
	margin: 10px auto;
	height: 2px;
	background: #79797a;
}

hr.stroke4 {
	width: 100%;
	border: 0;
	margin: 10px auto;
	height: 1px;
	background: #79797a;
}

div.review_2 {
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
}

p.view_1 {
	width: 20%;
	font-size: 1.2em;
	text-align: center;
	float: left;
}

p.view_1 a {
	color: #000;
}

#re_tab_1 {
	width: 100%;
	font-size: 1.5em;
	font-weight: bold;
	text-align: center;
	margin: 100px 0;
}

form p{
	font-size: 1.3em;
}

form p span {
	font-weight: 600;
}

input#rebox {
	width: 100%;
	height: 100px;
	border: 1px solid #000;
	margin-top: 10px;
	padding: 10px;
	outline: none;
}

#re_butt, p.re_3 {
	width: 100%;
	text-align: right;
	margin-top: 10px;
}

#re_butt img, p.re_3 img {
	width: 10%;
}

#re_tab_2 {
	width: 100%;
	font-weight: bold;
	text-align: center;
	margin-top: 30px;
}

#re_tab_1 a, #re_tab_2 a {
	color: #000;
	border: 1px solid #000;
	padding: 5px 15px;
}

/*---------상품Q&A---------------*/

#tab3 {
	width: 80%;
	margin-top: 10%;
	margin-bottom: 20%;
}

div.review_1 {
	width: 100%;
	margin: 0 auto;
	overflow:hidden;
}

p.re_1 {
	width: 90%;
	font-size: 2.3em;
	float: left;
}

p.re_2 {
	width: 10%;
	font-weight: bold;
	border: 1px solid #000;
	box-sizing:border-box;
	margin-top: 2%;
	padding: 5px;
	float: left;
}

p.re_2 a {
	color: #000;
}

p.re_3 {
	width: 100%;
	text-align: right;
	margin-top: 10px;
}

div.review_3 {
	width: 100%;
	margin: 0 auto;
	padding-left: 30px;
	overflow: hidden;
}

hr.stroke3 {
	width: 100%;
	border: 0;
	margin: 10px auto;
	height: 2px;
	background: #79797a;
}

hr.stroke4 {
	width: 100%;
	border: 0;
	margin: 10px auto;
	height: 1px;
	background: #79797a;
}

p.view_2 {
	width: 25%;
	font-size: 1.2em;
	float: left;
}

p.view_2:nth-child(3) {
	text-align: right;
}

p.view_2:last-child {
	text-align: center;
}

p.view_2 span {
	font-size: 1.2em;
	color: #9e0b0f;
	font-weight: 500;
}

/*------------배송------------*/

#tab4 {
	width: 80%;
	margin-top: 10%;
	margin-bottom: 20%;
}

div.delivery {
	width: 100%;
	margin: 0 auto;
}

p.de_1 {
	font-size: 2.3em;
	margin: 10% 0 2% 0;
}

div.deli_info {
	width: 100%;
	line-height: 1.6;
	font-size: 1.2em;
	margin: 0 auto;
	padding: 20px 0 0 15px;
	overflow: hidden;
}

ul.de_txt {
	width: 50%;
	float: left;
}

ul.de_txt li {
	width: 100%;
}

ul.de_txt span {
	color: #810101;
}

#dtxt {
	font-weight: bold;
}

ul.de_txt2 {
	width: 100%;
	line-height: 1.6;
	font-size: 1.2em;
	margin: 0 auto;
	padding: 20px 0 0 15px;
	margin-bottom: 150px;
}

ul.de_txt2 span {
	color: #666;
	font-weight: bold;
}

#dtxt2 {
	color: #810101;
}

/*--------------footer--------------*/

footer {
	width: 100%;
	height: 350px;
	background: #810101;
	margin-top: 2%;
	overflow: hidden;
}

#footer_info {
	width: 60%;
	font-size: 1.3em;
	margin: 1% auto;
	overflow: hidden;
}

div.f_1 {
	width: 60%;
	text-align: left;
	word-spacing: 10px;
	float: left;
}

p.site {
	width: 40%;
	text-align: right;
	float: left;
}

p.site a {
	display: block;
}

#footer_info a, div.fbox a {
	color: #fff;
}

div.fbox {
	width: 60%;
	color: #fff;
	margin: auto;
	margin-top: 50px;
	overflow: hidden;
}

p.logo_2 {
	width: 25%;
	float: left;
}

address {
	width: 60%;
	font-size: 1em;
	font-style: normal;
	float: left;
	overflow: hidden;
}

ul#footer_info2 {
	width: 20%;
	float: left;
}

ul#footer_info3 {
	width: 30%;
	float: left;
}

ul#footer_info2 li, ul#footer_info3 li {
	line-height: 3;
}

ul#footer_info4 {
	width: 40%;
	padding-left: 10%;
	float: left;
}

ul#footer_info4 li {
	line-height: 2.5;
}

div.icon_2 {
	width: 15%;
	float: left;
	overflow: hidden;
}

p.sns_icon {
	width: 33.333%;
	float: left;
}

div.site_icon {
	width: 80%;
	margin-top: 40%;
}