*{margin:0; padding: 0;}

*{box-sizing: border-box;}

a {text-decoration: none;}
	
ul li {list-style: none;}

ul .main {
	width: 100%;
}

ul .main a {
	display: block;
	color: #fff;
	padding: 10px;
}

ul .main a:hover {
	background: red;
}

.submenu {
	background: #eee;
}

.submenu li a {
	color: #000;
}

.submenu li a:hover {
	color: #000;
	background: #666;
}