*{box-sizing:border-box;}

a {text-decoration: none;}

ul li a {color: #fff;}

/*맑은고딕*/
body {
	height: 5000px;
	font-size: 0.75em;
	font: '맑은 고딕', 'Malgun Gothic','Noto Sans', sans-serif;
}

/*--------------실시간------------*/

.news {
	width: 15%;
	margin: 75px 0 0 200px;
	position: fixed;
	z-index: 8888;
}

.news .open-event {
	width: 210px;
	height: 25px;
	border: 1px solid #999;
	position: relative;
	z-index: 9999;
	overflow: hidden;
}

.news .open-event ul {
	width: 100%;
	position: absolute;
	top: 0px;
}

.news .open-event ul li {
	padding-left: 8px;
	height: 25px;
} 

.news .open-event ul li a {
	display: inline-block;
	width: 250px;
	font-size: 0.8em;
	line-height: 21px;
	color: #fff;
} 

.news ul li.hid {
	padding-left: 10px;
	height: 25px;
	position: relative;
}

.news ul li.hid a {
	display: inline-block;
	width: 250px;
	font-size: 0.8em;
	line-height: 21px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

	/*white-space:no-wrap; text-overflow:ellipsis;*/
	/*텍스트 넘치기 ...추가 
		잘라내기 두짝 맞춤*/
	/*한줄일때만 가능*/
		
.news .open-event ul li a:hover {
	text-decoration: underline;
}

/*.news .open-event ul li a strong
{margin-right: 10px;}*/

.news .open-event ul li span.date {
	display: inline-block;
	font-size: 0.8em;
	line-height: 21px;
	width: 80px;
	padding-left: 5px;
}

.news .open-event ul li.hid span.date {
	display: inline-block;
	position: absolute;
	left: 260px;
	top: 0;
	font-size: 0.8em;
	line-height: 21px;
	width: 80px;
	padding-left: 5px;
}

/*------------------header------------*/

header {
	width: 100%;
	color: #fff;
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
}

#menu {
	width: 100%;
	height: 140px;
	font-size: 1.3em;
	background: rgba(0,0,0,.7);
	position: relative;
}

li#h_03 {
	width: 80%;
	list-style: none;
	text-align: right;
	padding-top: 20px;
}

input#txt {
	width: 150px;
	height: 30px;
	color: #fff;
	border: none;
	border-bottom: 1px solid rgba(255,255,255,.5);
	background: none;
	padding: 3px;
	outline: none;
}

.nav_total {
	width: 50%;
	overflow: hidden;
	margin: 0 auto;
	box-sizing:border-box;
}

.nav_total>li {
	width: 16.666%;
	text-align: center;
	float: left;
}

.nav_total>li.logo img {
	width: 80%;
	margin-top: 20px;
}

.nav_total>li>a {
	display: block;
	line-height: 100px;
	text-align: center;
	color: #fff;
}

#h_01 {
	position: absolute;
	top: 50%;
	right: 23%;
	margin-top: 21px;
}

#h_02 {
	width: 22px;
	height: 21px;
	position: absolute;
	top: 50%;
	right: 20%;
	margin-top: 21px;
}

#h_02 img {
	width: 100%;
}

/*------------메뉴 밑줄--------------*/

.snip1322 {
  text-transform: uppercase;
}
.snip1322 * {
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

.snip1322>a {
  position: relative;
  text-decoration: none;
}

.snip1322>a:before{
  width: 0;
  height: 2px;
  position: absolute;
  content: '';
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  background-color: #fff;
}

.snip1322>a:before{
   bottom: 20px;
   left:25%;
}

.snip1322>a:after {
   top:0;
   right:25%;
}

.snip1322>a:hover,
.snip1322 .current a {
  color: #ffffff;
}

.snip1322>a:hover:before,
.snip1322 .current a:before,
.snip1322>a:hover:after,
.snip1322 .current a:after {
  width:50%;
}

/*----------------소메뉴----------*/

ul.sub_bg {
	width: 100%;
	border-top: 1px solid #666;
	background: rgba(0,0,0,.7);
	text-align: left;
	position: absolute;
	top: 140px;
	left: 0;
	padding: 20px 0;
	display: none;
}

ul.sub {
	width: 100%;
	margin: 0 5%;
}

ul.sub>li>ul>li>a {
	font-size: 0.9em;
	color: #9e9e9f;
}

ul.sub>li {
	width: 50%;
	margin: 0 auto;
}

ul.sub>li>ul {
	width : 100%;
}

/*---------타이어-------------*/

ul.sub_1>li {
	width: 40%;
	overflow: hidden;
}

ul.sub_1>li>ul:first-child {
	width: 27.5%;
	margin-right: 5%;
	float: left;
}

ul.sub_1>li>ul:first-child li {
	line-height: 1.6;
}

ul.sub_1>li>ul:last-child {
	width: 68.5%;
	float: left;
	overflow: hidden;
}

ul.sub_1>li>ul:first-child>li.sub_p {
	width: 100%;
	text-align: center;
	font-size: 1em;
	font-weight: bold;
	color: #fff;
}

ul.sub_1>li>ul:last-child>li.sub_p2 {
	width: 100%;
	text-align: center;
	font-size: 1em;
	font-weight: bold;
	color: #fff;
}

ul:last-child li.sub_p3 {
	width: 30%;
	margin-right: 5%;
	float: left;
}

ul:last-child li.sub_p3:nth-child(3) {
	margin-right: 0;
}

li.sub_p3 img {
	width: 100%;
	vertical-align: bottom;
}

/*----------------서비스-------------------*/

ul.sub_2>li {
	width: 40%;
	overflow: hidden;
}

ul.sub_2>li>ul:first-child {
	width: 39%;
	float: left;
}

ul.sub_2>li>ul:first-child>li {
	width: 100%;
	line-height: 2;
}

ul.sub_2>li>ul:last-child {
	width: 55%;
	margin: 3% 0 0 5%;
	float: left;
	overflow: hidden;
}

ul.sub_2>li>ul:last-child li {
	width: 50%;
	background: #f1c4c4;
	padding: 20px;
	float: left;
}

ul.sub_2>li>ul:last-child li a {
	display: block;
	text-align: center;
}

ul.sub_2>li>ul:last-child li:first-child:hover {
	background: #000;
}

ul.sub_2>li>ul:last-child li:last-child:hover {
	background: #000;
}

/*-----------------기업정보--------------------*/

ul.sub_3>li {
	width: 40%;
	margin: 0 auto;
}

ul.sub_3>li>ul {
	width: 47.5%;
	margin-right: 5%;
	float: left;
}

ul.sub_3>li>ul:last-child {
	margin-right: 0;
}

ul.sub_3>li>#sub_c_1>li {
	width: 100%;
	overflow: hidden;
}

#com_1 {
	font-weight: bold;
	color: #fff;
}

ul.sub_3>li>#sub_c_1>hr {
	border-color: #666;
}

ul.sub_3>li>ul>li>img {
	width: 100%;
	height: 200px;
}

/*-------------이벤트-----------*/

ul.sub_4>li {
	width: 40%;
	overflow: hidden;
}

ul.sub_4>li>ul:first-child {
	width: 25%;
	float: left;
}

#ee {
	font-size: 1em;
	color: #fff;
}

ul.sub_4>li>ul:first-child a {
	width: 100%;
	line-height: 50px;
	display: block;	
	float: left;
}

#hh_1 {
	float: left;
	border-color: #666;
}

ul.sub_4>li>ul:last-child {
	width: 70%;
	float: left;
}

ul.sub_4>li>ul:last-child a {
	width: 99%;
	margin-left: 100px;
	float: left;
}

ul.sub_4>li>ul:last-child li {
	width: 50%;
	float: left;
}

ul.sub_4>li>ul:last-child img {
	width: 100%;
	height: 200px;
}

/*-------------모터스포츠----------*/

ul.sub_5>li {
	width: 40%;
	margin: 0 auto;
}

ul.sub_5>li>ul:first-child {
	width: 30%;
	float: left;
}

ul.sub_5>li>ul:first-child li {
	line-height: 2;
}

ul.sub_5>li>ul:last-child {
	width: 70%;
	float: left;
}

ul.sub_5>li>ul:last-child>li>a {
	width: 20%;
	height: 150px;
	margin-left: 50px;
}

ul.sub_5>li>ul>li>a>img {
	width: 70%;
}

ul.nav_total>li:hover>ul.sub_bg>li>ul.sub {
	display: block;
}

ul.sub>li>ul>li>a:hover {
	color: #fff;
}

ul.sub1>li>ul>li {
	font-size: 1.2em;
}

ul.sub1>li>ul>li>a:hover {
	color: red;
}

.nav_total > li:hover  .sub_bg {display:block; }/*오버했을때 하단메뉴백그라운드나와*/

.nav_total > li:hover .sub {display:block; }
/*오버했을때 각하단메뉴나와*/

/*--------------전체메뉴--------*/

#sublist {
	display: none;
}

ul.sub1 {
	width: 100%;
	border-top: 1px solid #666;
	background: rgba(0,0,0,.7);
	position: absolute;
	top: 140px;
	left: 0;
}

ul.sub1 li {
	width: 40%;
	margin: 0 auto;
}

ul.sub1 li ul {
	width: 20%;
	padding: 30px 0;
	float: left;
}

ul.sub1 li ul li {
	width: 100%;
	margin-bottom: 10px;
}

/*model시작-------------------------------*/

.loginwrap {
	background: transparent;
	z-index: 100;
}

.model {
	position: absolute;
	width: 0;
	height: 0;
	overflow: hidden;
	z-index: 100;
	margin: 0 auto;
}

.model:target {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: rgba(0,0,0,0.8);
	z-index: 9999;
}

.model:target .content {
	background: #fff;
	border-radius: 8px;
	box-shadow: 0 0 0 8px rgba(0,0,0,0.25);
	width: 600px; /*모달 사이즈*/
	height: 400px;
	padding: 30px;
	position: absolute;
	
	top: calc(50% - 200px);
	/*사이 공간 뛰우세요 반사이즈뺌*/
	left: calc(50% - 300px);
	/*반사이즈 뺌*/
	z-index: 999;
}

.model:target .content fieldset {
	width: 100%;
	margin-top: 50px;
}

.model:target .content fieldset ul {
	width: 80%;
	font-size: 1.5em;
	margin: 0 auto;
}

.model:target .content fieldset ul li {
	width: 100%;
	line-height: 50px;
}

.tit {
	margin-right: 38px;
}

.tit_2 {
	margin-right: 20px;
}

fieldset ul li input {
	width: 250px;
	height: 30px;
	padding: 5px;
	outline: none;
}

.lo_butt {
	width: 50%;
	margin: 0 auto;
}

input#butt {
	width: 100%;
	height: 50px;
	font-size: 2em;
	color: #fff;
	background: #810101;
	margin-top: 8%;
	outline: none;
}

div.join {
	width: 50%;
	margin: 2% auto;
}

div.join a {
	width: 31.333%;
	height: 42px;
	font-size: 1.1em;
	line-height: 40px;
	text-align: center;
	color: #666;
	display: block;
	margin-right: 2%;
	float: left;
}

div.join a:last-child {
	margin-right: 0;
}

div.join a:hover {
	font-weight: bold;
	text-decoration: underline;
}

.model:target .close {
	position: absolute;
	right: -16px;
	top: -16px;
}

.model:target .close a {
	width: 32px;
	height: 32px;
	display: block;
	background: #810101;
	border: 2px solid #fff;
	border-radius: 50%;
	text-indent: -9999em;
}

/*close 버튼*/

.model:target .close:after {
	content: 'X';
	position: absolute;
	top:  0;
	left: 0.5px;
	width: 32px;
	height: 32px;
	text-align: center;
	line-height: 33px;
	color: #fff;
	font-weight: 800;
	pointer-events: none;
	/*중요 close 버튼 연동*/
}

.model:target .content h2 {
	color: #810101;
	font-weight: bold;
	font-size: 50px;
	text-align: center;
}
